body {
  font-family: "Star Jedi", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
  margin: 0;
  position: relative;
  background-image: url("./fondoEspacioSW.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedorPersonajes, .formularioInput, .mensajeError {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.7);
  text-align: center;
  width: 90%;
  max-width: 400px;
}

h1, h2 {
  color: #ffe81f;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
}

input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ffe81f;
  border-radius: 5px;
  background: #222;
  color: #ffe81f;
}

button {
  background: #ffe81f;
  color: #000;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  font-weight: bold;
}

button:hover {
  background: #ffcc00;
  transform: scale(1.05);
}

.volver, .volverErr {
  margin-top: 15px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.personaje ul {
  padding: 0;
  margin: 0;
  text-align: left;
}

.personaje li {
  margin-bottom: 10px;
}

.personaje ul ul {
  padding-left: 20px;
}
